.search {
        padding-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
}

.search__input {
        border: none;
        box-shadow: 2px 2px 10px 1px rgba(176, 224, 230, 0.35);
        padding: 12px 12px;
        border-radius: 8px;
        outline: none;
}

.search__btn {
        width: 100px;
        border: none;
        border-radius: 8px;
        background-color: powderblue;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 500;
}